@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
    padding: 0px;
    margin: 0px;
}



main{
  background-image: url(../../assets/bg.jpg);
    display: flex;
   flex-direction: row; 
 
   /* height: 90vh;   */
   /* padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   padding-right: 15px; */
   overflow: hidden;

    
}