.filtersDiv{
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    border: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 806px;
    width: 603px;
    text-align: center;
    align-items: center;
}

.filtersP{
    font-family: "Gruppo", sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}
.filtrationTypeP{
    font-family: "Gruppo", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}
.tagsFilter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.searchDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    border: 2px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    gap: 5px;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    
}
input{
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-family: "Gruppo", sans-serif;
    height: 27px;
    border: 2px solid white;
    color: white;
}
.searchP{
    font-size: 20px;
    font-family: "Gruppo", sans-serif;
    color: white;
}
.popularTagsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 483px;
    padding: 10px;
    gap: 10px;
    
}
button{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    gap: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1.5px solid white;
    white-space: nowrap;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
}
.likesFilter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}