@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    flex-direction: row;
    width: fill;
    height: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(42, 29, 29);
    border-bottom: solid  rgb(158, 151, 151) 3px;
    justify-content: space-between;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: row;
    width: fill;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 29, 29);
    border-top: solid  rgb(158, 151, 151) 3px;
}
main{
   display: flex;
   flex-direction: row;
   width: fill;
   height: 942px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   padding-right: 15px;

    
}

body{
       background-image: url(../media/bg.jpg);
       width: 1920px;
       height: 1080px;
    
}

button{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    gap: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1.5px solid white;
    white-space: nowrap;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
}


.headerIconAndButtons{
    
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: min-content;
    height: min-content;
    align-items: center;


}
.headerLinks{
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: min-content;
    height: min-content;
    align-items: center;

}
#mainButton{
    font-size: 28px;
}

.dateAndLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: min-content;
    height: min-content;
    gap: 35px;
}
#technicalPart{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 1.5px solid white;
}
#projectDescription{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 1.5px solid white;
}
.contentHeader{
    background-color: black;
    width: fill;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1.5px solid white;
    text-align: center;
    color: white;
    font-family: 'Gruppo', sans-serif;
    padding-top:10px ;
    padding-bottom: 10px;
    font-size: 24px;
}
.descriptionDiv{
    display: flex;
    flex-direction: column;
    width: fill;
    height: fit-content;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Gruppo', sans-serif;
}

#backendDiv{
    border-bottom: 1.5px solid rgb(112, 101, 101);
}
.description{
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-family: 'Gruppo', sans-serif;
 
}
.descriptionHeader{
    font-size: 28px;
}