

button{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    gap: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1.5px solid white;
    white-space: nowrap;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
}
#technicalPart{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 1.5px solid white;
}
#projectDescription{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 1.5px solid white;
}
.contentHeader{
    background-color: black;
    width: fill;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1.5px solid white;
    text-align: center;
    color: white;
    font-family: 'Gruppo', sans-serif;
    padding-top:10px ;
    padding-bottom: 10px;
    font-size: 24px;
}
.descriptionDiv{
    display: flex;
    flex-direction: column;
    width: fill;
    height: fit-content;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Gruppo', sans-serif;
}

#backendDiv{
    border-bottom: 1.5px solid rgb(112, 101, 101);
}
.description{
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-family: 'Gruppo', sans-serif;
 
}
.descriptionHeader{
    font-size: 28px;
}