.postCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    background-color: rgba(42, 29, 29, 0.5);
    border: solid 2px white;
    border-radius: 20px;   
 
}

.postName{
    width: 100%;
    border-bottom: solid 2px white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    color: white;
    font-size: 28px;
    font-family: 'Gruppo', sans-serif;
    text-align: center;
}

.postImg{
    width: 600px;
    height: 600px;
}

.postInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: solid 2px white;
}

.postTheme{
    font-size: 24px;
    font-family: 'Gruppo', sans-serif;
    color: white;
}

.postDescription{
    font-size: 20px;
    font-family: 'Gruppo', sans-serif;
    color: white;
}

.postInteractions{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px 5px 15px 5px;
    border-top: solid 2px rgb(102, 102, 102);
    border-bottom: solid 2px rgb(102, 102, 102);
}

.postTags{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px 5px 10px 5px;

}
.postSingleTag{
    font-family: 'Gruppo', sans-serif;
    color: white;
    font-size: 18px;
}
button{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    gap: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1.5px solid white;
    white-space: nowrap;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
}
input{
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-family: "Gruppo", sans-serif;
    height: 27px;
    border: 2px solid white;
}

